/*Изменение цвета Footer, перенос вниз, ширина на весь экран*/

#footer{
  background-color: grey;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.header{
  color: #ffffff;
  text-decoration: none;
}

.header:hover{
  color: grey;
  text-decoration: none;
}

#spinner{
  width: 300px;
  margin-top: 60px;
 }

 #divMotion{
  display: flex;
  align-items: center;
  justify-content: center;
 }
